<div class="container">


<div class="intro">
<h1>One Solution.</h1>
</div>


<table>
  <thead>
    <tr>

    </tr>
  </thead>

  <tbody>
    <table class="table">
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.description %></td>
        <td><%= link_to 'Show', resource %></td>
        <% if resource.user == current_user %>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Delete', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
           <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</table>

<div class="create">
<%= link_to new_resource_path do  %>
<i class="fa fa-plus fa-2x">    Create New Resource</i>
  <% end %>
</div>
