<div class="container">
<p id="notice"><%= notice %></p>


<div class="title">
<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Description:</strong>
<%= link_to @resource.description, "http://#{@resource.description}" %>
</p>
</div>
<br>


<div class="review">
<h3>Reviews</h3>
<% @resource.reviews.each do |review| %>
  <p>
    <%= review.comment %>
  </p>
  <div>
    <%= time_ago_in_words review.created_at %> ago
  </div>

<% end %>



<h3>New Review</h3>

<%= render 'reviews/form' %>
<br>
<br>

<%= link_to edit_resource_path(@resource) do %>
<i class="fa fa-puzzle-piece fa-2x"> Edit</i>
<% end %>
<%= link_to resources_path do %>
<i class="fa fa-backward fa-2x"> Back</i>
<% end %>
</div>
</div>
